Button {
    -fx-text-fill: white; /* 00016623 - Color del texto */
    -fx-background-radius: 10; /* 00016623 - Radio de borde del fondo */
    -fx-border-radius: 10; /* 00016623 - Radio de borde del borde */
    -fx-cursor: hand; /* 00016623 - Cursor al pasar sobre el botón */
    -fx-padding: 5; /* 00016623 - Espaciado interno */
    -fx-end-margin: 5; /* 00016623 - Margen final */
    -fx-start-margin: 5; /* 00016623 - Margen inicial */
}

.addBtn {/* 00016623 - clase css para botones del tipo agregar */
    -fx-background-color: #519f61; /* 00016623 - Color de fondo */
}

.addBtn:hover {/* 00016623 - hover para botones del tipo agregar */
    -fx-background-color:  #fff; /* 00016623 - Color de fondo al pasar */
    -fx-text-fill: #519f61; /* 00016623 - Color del texto al pasar */
}

.loadBtn {/* 00016623 - clase css para botones del tipo cargar */
    -fx-background-color: #6096ef; /* 00016623 - Color de fondo */
}

.loadBtn:hover {/* 00016623 - hover para botones del tipo cargar */
    -fx-background-color: #fff; /* 00016623 - Color de fondo al pasar */
    -fx-text-fill: #6096ef; /* 00016623 - Color del texto al pasar */
}

.deleteBtn {/* 00016623 - clase css para botones del tipo borrar o limpiar */
    -fx-background-color: #ea7272; /* 00016623 - Color de fondo */
}

.deleteBtn:hover {/* 00016623 - hover para botones del tipo borrar o limpiar */
    -fx-background-color: #fff; /* 00016623 - Color de fondo al pasar */
    -fx-text-fill: #ea7272; /* 00016623 - Color del texto al pasar */
}
